<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header | SlickLabs Styleguide</title>
    <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
    <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <header class="styleguide-header">
        <h5 class="styleguide-label"><a href="https://labbydev.github.io/slicklabs/">Living Styleguide</a></h5>
        <h1>SlickLabs Styleguide</h1>
      </header>
    </div>

      <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Header</h2>
        <p> Header component</p>
      </main>
    </div>
  </div>
</div>  
    <div class="styleguide-component">
              <div>
          <div>
            <div class="container">
  <div class="l-1up">
    <h3>Header</h3>
  </div>
</div>
<div style="position: relative">
  
<header class="header">
  <div class="container">
    <div class="header__content">
      <a href="#hero" class="link--scroll">
        <figure class="logo">
          <img src="https://static1.squarespace.com/static/5655cfbde4b0c668da456c25/t/56560be7e4b0fad364d58809/1448551081173/SlickLabs.png" alt="SlickLabs logo">
        </figure>
      </a>
      
<nav>
  <ul class="main-nav">
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#what">What we do</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#services">Services</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#team">Team</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#partners">Partners</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#contact">Contact Us</a></li>
  </ul>
</nav>


    </div>
  </div>
</header>
</div>

          </div>
        </div>
    </div>

    <div class="container">
      <div class="l-column">
        <p class="styleguide-copyright">Copyright (c) 2017 Lauren A. Burroughs</p>
      </div>
    </div>

        <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Add Font Awesome -->
    <script src="https://use.fontawesome.com/694d2323e4.js"></script>
    <!-- Libraries -->
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <!-- Custom JS -->
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/page_nav.js"></script>

  </body>
</html>
