/**
 * @file
 * Layout rules for 4-up content
 */

// =============================================================================
// Basic 4-up Float layout
// =============================================================================

.l-4up {
  @include isolation-span(12, 1, 'both');

  @include breakpoint($bp1) {
    @include float-span(3);
  }

  &:nth-of-type(4n+1) {
    @include breakpoint($bp1) {
      @include float-span(3, 'first');
    }
  }

  &:nth-of-type(4n) {
    @include breakpoint($bp1) {
      @include float-span(3, 'last');
    }
  }
}


// =============================================================================
// Basic 4-up Isolation layout
// =============================================================================

.l-4up--1 {
  @include isolation-span(12, 1, 'both');

  @include breakpoint($bp1) {
    @include isolation-span(3, 1, 'both');
  }
}

.l-4up--2 {
  @include isolation-span(12, 1, 'both');

  @include breakpoint($bp1) {
    @include isolation-span(3, 4, 'none');
  }
}

.l-4up--3 {
  @include isolation-span(12, 1, 'both');

  @include breakpoint($bp1) {
    @include isolation-span(3, 7, 'none');
  }
}

.l-4up--4 {
  @include isolation-span(12, 1, 'both');

  @include breakpoint($bp1) {
    @include isolation-span(3, 10, 'none');
  }
}

// =============================================================================
// 4-up layout using Flexbox for equal heights
// =============================================================================

.l-4up--flex__wrap {
  @extend %flex-parent;
}

.l-4up--flex {
  margin: 1%;
  width: 99%;

  @include breakpoint($bp1) {
    width: 48%;

    &:nth-of-type(2n+1) {
      margin-left: 0;
    }

    &:nth-of-type(2n) {
      margin-right: 0;
    }
  }

  @include breakpoint($bp2) {
    width: 23%;

    &:nth-of-type(2n+1) {
      margin-left: 1%;
    }

    &:nth-of-type(2n) {
      margin-right: 1%;
    }

    &:nth-of-type(4n+1) {
      margin-left: 0;
    }

    &:nth-of-type(4n) {
      margin-right: 0;
    }
  }
}