<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Homepage | SlickLabs Styleguide</title>
  <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
  <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
</head>
<body>

                  
<header id="header" class="header">
  <div class="header__content container">
    <a href="#hero" class="link--scroll logo">
      <figure>
        <img src="https://static1.squarespace.com/static/5655cfbde4b0c668da456c25/t/56560be7e4b0fad364d58809/1448551081173/SlickLabs.png" alt="SlickLabs logo">
      </figure>
    </a>
    <a href="#" class="main-nav__trigger"><span>Menu</span></a>
    
<nav>
  <ul class="main-nav">
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#what">What we do</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#services">Services</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#team">Team</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#partners">Partners</a></li>
    <li class="main-nav__item"><a class="main-nav__link link--scroll" href="#contact">Contact Us</a></li>
  </ul>
</nav>


  </div>
</header>
    
  <section id="hero" class="hero has-bkg-img" style="background-image: url('https://labbydev.github.io/slicklabs/assets/imgs/SlickLabs-Hero-HR-4.jpg');">
    <div class="hero__content-wrap">
      <h1 class="hero__headline">You dream it. We build it.</h1>
      <div class="hero__description">Minimum viable product. Minimum viable price</div>
      <a class="button--transparent button--icon link--scroll" href="#contact">Build Your Dream<i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    </div>
    <a rel="nofollow" href="#content" class="scroll-indicator__wrap link--scroll">
      <i class="scroll-indicator fa fa-angle-double-down" aria-hidden="true"></i>
      <span class="scroll-indicator__hint">scroll</span>
    </a>
  </section>
  <div id="content">
  </div>

    <div class="homepage" id="content">
      <section id="what" class="banded-section" style="background-color: #F0F0F0;">
        <div class="container">
          <h2>What we do</h2>
          <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
          <h3>You dream it. We build it.</h3>
          <p class="lede">Whether it’s software or hardware, our expert team of engineers, developers and designers follow agile methodologies to get you a product you will love, and more importantly, help you “make your dent in the universe."</p>
        </div>
      </section>
      
<div class="banded-section--tall is-dark">
  <div class="container">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/ScMzIvxBSi4?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
      <section id="services" class="tout-group">
        <div class="container">
          <h2>Services</h2>
          <div class="lede">Ultimately SlickLabs is an IoT company.  This means we do the following:</div>
          <div class="l-4up--flex__wrap">
            <div class="l-4up--flex">
              <div class="tout">
                <h3 class="tout__headline">Embedded Systems</h3>
                <div class="tout__description">We build custom electronics that sense, collect and store data</div>
                <a class="tout__button link--scroll" href="#contact">Get Embedded Systems</a>
              </div>

            </div>
            <div class="l-4up--flex">
              <div class="tout">
                <h3 class="tout__headline">Intelligent Systems</h3>
                <div class="tout__description">We build systems that turn raw data into actionable data (Big Data, AI, Machine Learning)</div>
                <a class="tout__button link--scroll" href="#contact">Get Intelligent Systems</a>
              </div>

            </div>
            <div class="l-4up--flex">
              <div class="tout">
                <h3 class="tout__headline">Cyber Systems</h3>
                <div class="tout__description">We build systems and platforms with security in mind (HIPPA)</div>
                <a class="tout__button link--scroll" href="#contact">Get Cyber Systems</a>
              </div>
            </div>
            <div class="l-4up--flex">
              <div class="tout">
                <h3 class="tout__headline">Prototype IoT systems</h3>
                <div class="tout__description">We combine these systems to deliver a secure, end to end system</div>
                <a class="tout__button link--scroll" href="#contact">Build a prototype</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="team" class="profile-teaser-group">
        <div class="container">
          <h2>Team</h2>
          <div class="l-3up--1">
            
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
          </div>
          <div class="l-3up--2">
            
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
          </div>
          <div class="l-3up--3">
            
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
          </div>
        </div>
      </section>
      <section id="partners" class="banded-section is-blue">
        <div class="container">
          <h2>Partners</h2>
          <div class="l-4up--1">
            <div class="tout">
              <figure class="tout__icon">
                <img src="http://www.ionventus.com/images/icon.png" alt="logo for Ionventus">
              </figure>
              <h3 class="tout__headline">Ionventus</h3>
              <div class="tout__description"> Design and Engineering firm who build beautifully designed prototypes</div>
            </div>
          </div>
          <div class="l-4up--2">
            <div class="tout">
              <figure class="tout__icon">
                <img src="https://cdn-igoqhotnhi6o.netdna-ssl.com/images/mile2clear-small.png" alt="logo for Mile2">
              </figure>
              <h3 class="tout__headline">Mile2</h3>
              <div class="tout__description">Software developers who build cool shit for cool people</div>
            </div>
          </div>
          <div class="l-4up--3">
            <div class="tout">
              <figure class="tout__icon">
                <img src="http://static1.squarespace.com/static/54cbf6eee4b010d9a097c673/t/57164389f85082a0a4ed841f/1484654679845/?format=1500w" alt="logo for Purpose Branding">
              </figure>
              <h3 class="tout__headline">Purpose Brand1ng</h3>
              <div class="tout__description">Putting a name and kickass brand around your prototype</div>
            </div>
          </div>
          <div class="l-4up--4">
            <div class="tout">
              <figure class="tout__icon">
                <img src="https://vps.infinitetactics.com/new/wp-content/uploads/2015/11/57pxname.png" alt="logo for infinite Tactics">
              </figure>
              <h3 class="tout__headline">Infinite Tactics</h3>
              <div class="tout__description">Putting a name and kickass brand around your prototype</div>
            </div>
          </div>
        </div>
      </section>
      <section id="contact" class="banded-section is-dark">
        
  <h2>Contact Us</h2>
  <div class="container">
    <form id="myForm" action="#" method="post">
      <div class="l-1up">
        <div class="form-item js-form-type-textfield l-2up--1">
          <input type="text" name="first-name" id="first-name" value="" tabindex="1">
          <label for="first-name">First name</label>
        </div>

        <div class="form-item js-form-type-textfield l-2up--2">
          <input type="text" name="last-name" id="last-name" value="" tabindex="1">
          <label for="last-name">Last name</label>
        </div>

        <div class="form-item js-form-type-textfield l-2up--1">
          <input type="text" name="email" id="email" value="" tabindex="1">
          <label for="email">Email address</label>
        </div>

        <div class="form-item js-form-type-textfield l-2up--2">
          <input type="text" name="phone" id="phone" value="" tabindex="1">
          <label for="phone">Phone number</label>
        </div>

        <div class="form-item js-form-type-textarea l-1up">
          <textarea cols="40" rows="8" name="textarea" id="textarea"></textarea>
          <label for="textarea">How can we help you change the world?</label>
        </div>

        <div class="form-actions">
          <input type="submit" value="Submit">
        </div>

      </div>
    </form>
  </div>

      </section>
    </div>
    
<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <div class="footer__copyright">
        <i class="fa fa-copyright" aria-hidden="true"></i> 2017 SlickLabs
      </div>
      <a href="mailto:rob@slicklabs.us" class="footer__email">rob@slicklabs.us</a>
      <a href="tel:9373213842" class="footer__phone">937.321.3842</a>
    </div>
  </div>
</footer>


  
      
      <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Add Font Awesome -->
    <script src="https://use.fontawesome.com/694d2323e4.js"></script>
    <!-- Libraries -->
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/jquery.waypoints.min.js"></script>
    <!-- Custom JS -->
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/page_nav.js"></script>

</body>
</html>