<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banded sections | SlickLabs Styleguide</title>
    <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
    <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <header class="styleguide-header">
        <h5 class="styleguide-label"><a href="https://labbydev.github.io/slicklabs/">Living Styleguide</a></h5>
        <h1>SlickLabs Styleguide</h1>
      </header>
    </div>

      <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Banded sections</h2>
        <p> These just basic sections to break up the banded display of the website.</p>
      </main>
    </div>
  </div>
</div>  
    <div class="styleguide-component">
      <div class="container">
        <div class="l-1up">
          <div class="l-1up">
  <h3> Banded section</h3>
  <div class="banded-section">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button button--small">Join us</a>
    </div>
  </div>

  <h4> Banded section with background</h4>
  <p>This could easily be an image or a color, for this case we are using a color.</p>
  <div class="banded-section" style="background-color: #F0F0F0;">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button button--small">Join us</a>
    </div>
  </div>

  <h3>Parallax banded section</h3>
  <div class="banded-section--parallax" style="background-image: url(https://unsplash.it/1400/1000/?random);">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button--dark button--small">Join us</a>
    </div>
  </div>

  <h4>Parallax banded section with overlay</h4>
  <div class="banded-section--overlay" style="background-image: url(https://unsplash.it/1400/1000/?random);">
    <div class="overlay">
      <div class="container">
        <h2>What we do</h2>
        <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
        <a class="button--dark button--small">Join us</a>
      </div>
    </div>
  </div>

</div>        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-column">
        <p class="styleguide-copyright">Copyright (c) 2017 Lauren A. Burroughs</p>
      </div>
    </div>

        <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Add Font Awesome -->
    <script src="https://use.fontawesome.com/694d2323e4.js"></script>
    <!-- Libraries -->
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <!-- Custom JS -->
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>

  </body>
</html>
