---
layout: template
section: template
type: full-width

title: Homepage
---

{% block content_wrapper %}
  {% block content %}

    {% include('hero.html') %}
    <div class="homepage">
      <div class="banded-section--overlay" style="background-image: url(https://unsplash.it/1400/1000/?random);">
        <div class="overlay">
          <div class="container">
            <h2>What we do</h2>
            <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
            <h3>You dream it. We build it.</h3>
            <p class="lede">Whether it’s software or hardware, our expert team of engineers, developers and designers follow agile methodologies to get you a product you will love, and more importantly, help you “make your dent in the universe."</p>
          </div>
        </div>
      </div>
    </div>

  {% endblock %}
{% endblock %}