<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero | SlickLabs Styleguide</title>
    <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
    <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <header class="styleguide-header">
        <h5 class="styleguide-label"><a href="https://labbydev.github.io/slicklabs/">Living Styleguide</a></h5>
        <h1>SlickLabs Styleguide</h1>
      </header>
    </div>

      <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Hero</h2>
        <p> Hero component with background image, headline, and button</p>
      </main>
    </div>
  </div>
</div>  
    <div class="styleguide-component">
      <div class="container">
        <div class="l-1up">
          <div class="l-1up">
  <h3>Default Hero</h3>
  
  <section class="hero" style="background-image: url('https://labbydev.github.io/slicklabs/assets/imgs/SlickLabs-Hero-HR-4.jpg');">
    <div class="hero__content-wrap">
      <h1 class="hero__headline">You dream it. We build it.</h1>
      <div class="hero__description">Minimum viable product. Minimum viable price</div>
      <a class="button--transparent" href="https://labbydev.github.io/slicklabs">Let's Get Started</a>
    </div>
  </section>


  <h3>Hero with an Overlay</h3>
  
  <section class="hero" style="background-image: url(https://unsplash.it/1400/1000/?random);">
    <div class="overlay">
      <div class="hero__content-wrap">
        <h1 class="hero__headline">You dream it. We build it.</h1>
        <div class="hero__description">Minimum viable product. Minimum viable price</div>
        <a class="button--dark" href="https://labbydev.github.io/slicklabs">Let's Get Started</a>
      </div>
    </div>
  </section>

</div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-column">
        <p class="styleguide-copyright">Copyright (c) 2017 Lauren A. Burroughs</p>
      </div>
    </div>

        <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>

  </body>
</html>
