{#
/**
* @file
* Theme override to display a service
* when it appears as teaser.
*
* @copyright Copyright (c) Lauren A. Burroughs
*/
#}

<div class="tout">
  <h3 class="tout__headline">{{ label }}</h3>
  <div class="tout__description">{{ content.field_summary }}</div>
  <a class="tout__button link--scroll" href="#contact">{{ content.field_text_button }}</a>
</div>
