{#
/**
* @file
* Theme override to display a partner
* when it appears as teaser.
*
* @copyright Copyright (c) Lauren A. Burroughs
*/
#}

<div class="tout">
  <a href="{{ content.field_link }}" ><figure class="tout__icon">
    {{ content.field_logo }}
    </figure></a>
  <h3 class="tout__headline">{{ label }}</h3>
  <div class="tout__description">{{ content.field_summary }}</div>
</div>