<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Teaser | SlickLabs Styleguide</title>
    <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
    <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <header class="styleguide-header">
        <h5 class="styleguide-label"><a href="https://labbydev.github.io/slicklabs/">Living Styleguide</a></h5>
        <h1>SlickLabs Styleguide</h1>
      </header>
    </div>

      <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Profile Teaser</h2>
        <p> This shows a teaser of the profiles showing their name, title, summary and photo to show how profiles will appear in their teaser format.</p>
      </main>
    </div>
  </div>
</div>  
    <div class="styleguide-component">
      <div class="container">
        <div class="l-1up">
          <h3>Profile Teaser</h3>
<p>A single profile teaser</p>
<div class="clearfix">
  <div class="l-3up">
    
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
  </div>
</div>

<h4>Profile teaser group</h4>
<p>This component should traditionally appear as a 3-up on banded pages.</p>
<div class="profile-teaser-group">
  <div class="container">
    <h2>Team</h2>
    <div class="l-3up--1">
      
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="profile-teaser">
  <div class="profile-teaser__head">
    <figure class="profile-teaser__image">
      <img src="https://openclipart.org/image/2400px/svg_to_png/177482/ProfilePlaceholderSuit.png" alt="Robert Slater">
    </figure>
    <div class="profile-teaser__headline">
      <div>
        <h3 class="profile-teaser__name">Robert Slater</h3>
        <div class="profile-teaser__title">Ninjaneer</div>
      </div>
    </div>
  </div>
  <div class="profile-teaser__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
</div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-column">
        <p class="styleguide-copyright">Copyright (c) 2017 Lauren A. Burroughs</p>
      </div>
    </div>

        <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Add Font Awesome -->
    <script src="https://use.fontawesome.com/694d2323e4.js"></script>
    <!-- Libraries -->
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <!-- Custom JS -->
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/page_nav.js"></script>

  </body>
</html>
