---
layout: element
section: component
type: main

title: Banded sections
description: These just basic sections to break up the banded display of the website.
---

<div class="l-1up">
  <h3> Banded section</h3>
  <div class="banded-section">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button button--small">Join us</a>
    </div>
  </div>

  <h4> Banded section with background</h4>
  <p>This could easily be an image or a color, for this case we are using a color.</p>
  <div class="banded-section" style="background-color: #F0F0F0;">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button button--small">Join us</a>
    </div>
  </div>

  <h3>Parallax banded section</h3>
  <div class="banded-section--parallax" style="background-image: url(https://unsplash.it/1400/1000/?random);">
    <div class="container">
      <h2>What we do</h2>
      <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
      <a class="button--dark button--small">Join us</a>
    </div>
  </div>

  <h4>Parallax banded section with overlay</h4>
  <div class="banded-section--overlay" style="background-image: url(https://unsplash.it/1400/1000/?random);">
    <div class="overlay">
      <div class="container">
        <h2>What we do</h2>
        <p class="lede">At SlickLabs we combine art and science to help you transform great ideas into beautiful products. Whereas most prototyping companies ask for a static set of requirements only to return weeks later with “something close,” our engineers, developers and designers are fully committed to keeping you engaged every step of the way … to deliver your idea exactly how it should be.</p>
        <a class="button--dark button--small">Join us</a>
      </div>
    </div>
  </div>

</div>