---
layout: element
section: component
type: main

title: Touts
description: Touts are small blocks of information. These usually appear in sets of 3 horizontally, although there are some cases in which a tout would appear singularly.
---

<h3>Image tout</h3>
<p>This is a modification of the basic tout, that allows for image or icons to appear above the individual tout.</p>
<div class="clearfix">
  <div class="l-3up">
    {% include('image-tout.html') %}
  </div>
</div>

<h3>Image tout group</h3>
<p>This component should traditionally appear as a 3-up on banded pages.</p>

