<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Touts | SlickLabs Styleguide</title>
    <link rel="stylesheet" href="https://labbydev.github.io/slicklabs/assets/css/styles.css">
    <link rel="shortcut icon" href="https://labbydev.github.io/slicklabs/assets/favicon.ico" />
  </head>
  <body>
    <div class="container">
      <header class="styleguide-header">
        <h5 class="styleguide-label"><a href="https://labbydev.github.io/slicklabs/">Living Styleguide</a></h5>
        <h1>SlickLabs Styleguide</h1>
      </header>
    </div>

      <div class="styleguide-description">
  <div class="container">
    <div class="l-styleguide-column">
      <main>
        <h2>Touts</h2>
        <p> Touts are small blocks of information. These usually appear in sets of 3 horizontally, although there are some cases in which a tout would appear singularly.</p>
      </main>
    </div>
  </div>
</div>  
    <div class="styleguide-component">
      <div class="container">
        <div class="l-1up">
          <h3>Tout</h3>
<p>A basic tout</p>
<div class="clearfix">
  <div class="l-3up">
    
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
  </div>
</div>

<h4>Image tout group</h4>
<p>This component should traditionally appear as a 3-up on banded pages.</p>
<div class="tout-group">
  <div class="container">
    <h2>What we do</h2>
    <div class="lede">Ultimately SlickLabs is an IoT company.  This means we do the following:</div>
    <div class="l-3up--1">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
  </div>
</div>

<h4>Tout group with background</h4>
<p>Touts can appear with or without a background color behind it.</p>
<div class="tout-group" style="background-color: #F0F0F0;">
  <div class="container">
    <h2>What we do</h2>
    <div class="lede">Ultimately SlickLabs is an IoT company.  This means we do the following:</div>
    <div class="l-3up--1">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="tout">
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
  </div>
</div>

<hr />

<h3>Image tout</h3>
<p>This is a modification of the basic tout, that allows for images to appear above the individual tout.</p>
<div class="clearfix">
  <div class="l-3up">
    
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
  </div>
</div>

<h4>Image tout group</h4>
<p>This component should traditionally appear as a 3-up on banded pages.</p>
<div class="tout-group">
  <div class="container">
    <h2>What we do</h2>
    <div class="lede">Ultimately SlickLabs is an IoT company.  This means we do the following:</div>
    <div class="l-3up--1">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
  </div>
</div>

<h4>Image tout group with background</h4>
<p>Image touts can appear with or without a background color behind it.</p>
<div class="tout-group" style="background-color: #F0F0F0;">
  <div class="container">
    <h2>What we do</h2>
    <div class="lede">Ultimately SlickLabs is an IoT company.  This means we do the following:</div>
    <div class="l-3up--1">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="tout">
  <figure class="tout__image">
    <img src="https://unsplash.it/400/300/?random" alt="Random placeholder to demonstrate where and how an image will appear for an image tout">
  </figure>
  <h3 class="tout__headline">Hardware</h3>
  <div class="tout__description">Front end - we build/integrate sensors/hardware to measure the world.  Think about a camera, a temperature probe, an antenna, or anything that collects data about the world we live in... seriously anything!</div>
  <a class="button  button--small" href="https://labbydev.github.io/slicklabs">I need hardware</a>
</div>
    </div>
  </div>
</div>

<hr />

<h3>Icon tout</h3>
<p>This is a modification of the basic tout, that allows for icons to appear above the individual tout.</p>
<div class="clearfix">
  <div class="l-3up">
    
<div class="tout">
  <figure class="tout__icon">
    <img src="https://cdn-igoqhotnhi6o.netdna-ssl.com/images/mile2clear-small.png" alt="logo for Mile2">
  </figure>
  <h3 class="tout__headline">Mile2</h3>
  <div class="tout__description">Software developers who build cool shit for cool people</div>
</div>
  </div>
</div>

<h4>Image tout group</h4>
<p>This component should traditionally appear as a 3-up on banded pages.</p>
<div class="tout-group">
  <div class="container">
    <h2>Partners</h2>
    <div class="lede">We only work with the best!</div>
    <div class="l-3up--1">
      
<div class="tout">
  <figure class="tout__icon">
    <img src="https://cdn-igoqhotnhi6o.netdna-ssl.com/images/mile2clear-small.png" alt="logo for Mile2">
  </figure>
  <h3 class="tout__headline">Mile2</h3>
  <div class="tout__description">Software developers who build cool shit for cool people</div>
</div>
    </div>
    <div class="l-3up--2">
      
<div class="tout">
  <figure class="tout__icon">
    <img src="https://cdn-igoqhotnhi6o.netdna-ssl.com/images/mile2clear-small.png" alt="logo for Mile2">
  </figure>
  <h3 class="tout__headline">Mile2</h3>
  <div class="tout__description">Software developers who build cool shit for cool people</div>
</div>
    </div>
    <div class="l-3up--3">
      
<div class="tout">
  <figure class="tout__icon">
    <img src="https://cdn-igoqhotnhi6o.netdna-ssl.com/images/mile2clear-small.png" alt="logo for Mile2">
  </figure>
  <h3 class="tout__headline">Mile2</h3>
  <div class="tout__description">Software developers who build cool shit for cool people</div>
</div>
    </div>
  </div>
</div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="l-column">
        <p class="styleguide-copyright">Copyright (c) 2017 Lauren A. Burroughs</p>
      </div>
    </div>

        <!-- Add jQuery -->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <!-- Add Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto:300,400,500,700,900" rel="stylesheet">
    <!-- Add Font Awesome -->
    <script src="https://use.fontawesome.com/694d2323e4.js"></script>
    <!-- Libraries -->
    <script src="https://labbydev.github.io/slicklabs/assets/libraries/styleguide.js"></script>
    <script src="https://labbydev.github.io/slicklabs/assets/js/background-check.min.js"></script>
    <!-- Custom JS -->
    <script src="https://labbydev.github.io/slicklabs/assets/js/site.js"></script>

  </body>
</html>
